.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;  
}
